	#container {
		background-color: #0C1024;
		background-image: url(../img/background.png); 
	}
/*
	#slides {
		display: none;
	}*/

	.slidesjs-container {
		max-height: auto;
	}

	header {
		text-align: center;
		background-color: black;
		max-width: 1090px;
		margin: auto;
		z-index: -1;
	}

	nav {
		text-align: center;
		position: relative;
	}
	nav a {
		display: inline-block;
		background-color: black;
		color: #8178BA;
		width: 150px;
		line-height: 50px;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 10px 0px;
	}

	a:hover {
		color: white;
	}

	a.chosen {
		color: #929A41;
	}

	ul.a {
	    list-style-type: circle;
	    width: auto;
	    font-size: 20px;
	    display: inline-block;
	    text-align: left;

	}

	.contact form {
		background-color: black;
		width: 100%;
		margin: auto;
		font-style: 35px;
	}

	.contact form ul {
		list-style-type: none;
		padding: 0;
	}

	.contact form ul li {
		margin: 15px 0;
	}

	.contact form label {
		display: block;
		font-size: 2em;
		color: white;
		margin-top: 15px;
	}

	.contact form input, textarea, select {
		font-size: 2em;
		padding: 5px;
		border: #ccc 3px solid;
		width: 75%;
		margin: 20px;
	}
	
	select#topic{
		font-size: 35px;
		color: black;
	}

	.contact form input {
		color: black;
	}

	/*.conact ul.a li {
	    list-style-type: circle;
	    width: auto;
	    font-size: 20px;
	    display: inline-block;
	    text-align: left;
	    padding: 20px;

	}*/
/*--------------------------------------------
| Mobile First :: default
--------------------------------------------*/
	#container {
		width: 100%;
		text-align: center;
	}

	.home {
		text-align: center;
		background-color: black;
		max-width: 100%;
		margin: auto;
		padding: 20px;
		color: white;
		display: inline-block;
		height: auto;
	}

	.team {
		text-align: center;
		background-color: black;
		width: 100%;
		margin: auto;
		color: white;
		display: inline-block;
		height: auto;
	}

	.gallery {
		text-align: center;
		background-color: black;
		max-width: 100%;
		margin: auto;
		padding: 20px;
		color: white;
		display: inline-block;
		height: auto;
	}

	.contact {
		text-align: center;
		background-color: black;
		width: 100%;
		margin: auto;
		padding: 20px;
		color: white;
		display: inline-block;
		height: auto;
	}

	#main {
		width: 76%;
		margin: auto;
	}

	#main p {
		margin: 10px;
		width: 300px;
		text-align: left;
	}

	#box {
		max-width: 50%;
    	float: left;
	}

	.large {
	    margin: 0;
	    padding: 0;
	    display: inline-block;
	}

	#box .large img {
	    display: inline-block;
	    border: solid white;
	    border-radius: 5px;
	    width: 110%;
	}

	article {
		background-color: black;
		height: auto;
		color: white;
	}
	
	article h1 {
		padding-top: 20px; 
	}

	article .thumbnails {
		display: inline-block;
		width: 40%;
		height: 450px;
		overflow: scroll;
		padding: 20px;
	}

	.social {
		padding: 25px;
		margin-bottom: 10px;
		max-width: 100%;
	}

	.social a {
		margin: 15px;
	}

	footer 	{
		background-color: black; 
		text-align: center; 
		width: 76%;
		margin: auto;
	}








