	#container {
		background-color: #0C1024;
		background-image: url(../img/background.png);
		background-repeat: none
	}

	/*#slides {
		display: none;
	}*/

	.slidesjs-container {
		max-height: auto;;
	}

	header {
		text-align: center;
		background-color: black;
		max-width: 1090px;
		margin: auto;
		z-index: -1;
	}

	nav {
		text-align: center;
		position: relative;
	}
	nav a {
		display: inline-block;
		background-color: black;
		color: #8178BA;
		width: 150px;
		line-height: 50px;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 10px 0px;
	}

	a:hover {
		color: white;
	}

	a.chosen {
		color: #929A41;
	}

/*--------------------------------------------
| Mobile First :: default
--------------------------------------------*/
	#container {
		width: 100%;
		text-align: center;
	}

	article {
		text-align: center;
		background-color: black;
		max-width: 100%;
		margin: auto;
		padding: 20px;
		color: white;
		display: inline-block;
		height: 500px;
	}

	#main {
		width: 76%;
		margin: auto;
	}


	#main .about {
		background-color: black;  
		color: white;
		font-size: 14px;
		line-height: 29px;
		height: auto;
		text-align: center;
	}

	#main .contact {
		padding: 15px; 
		background-color: black;  
		color: white;
		font-size: 14px;
		line-height: 29px;
		text-align: center;
	}

	h1 {
		color: white;

	}

	#main p {
		margin: 10px;
	}

	#box {
		padding-top: 30px;
	}

	#box .large img {
		/*position: relative;*/
		float: left;
		top: 30px;
		border: solid white;
		border-radius: 5px;
		height: 400px;
		width: 50%;
	}

	article .thumbnails {
		display: inline-block;
		width: 40%;
		height: 450px;
		overflow: scroll;
		padding: 20px;
	}

	footer 	{
		background-color: black; 
		text-align: center; 
		line-height: 100px; 
		font-size: 12px; 
		opacity: .8;
		margin-top: auto;
		position: relative;
	}









